#define APSTUDIO_READONLY_SYMBOLS 0
#define APSTUDIO_HIDDEN_SYMBOLS 0
#define IDC_STATIC -1

#include "resource.h"
#include "targetver.h"
#include "windows.h"
#include "res/tfx.fx"
#include "res/convert.fx"
#include "res/interlace.fx"
#include "res/merge.fx"
#include "res/fxaa.fx"
#include "res/cs.fx"
#include "res/shadeboost.fx"
#include "res/tfx.cl"

LANGUAGE 9,1

IDR_TFX_FX RCDATA DISCARDABLE "res/tfx.fx"
IDR_CONVERT_FX RCDATA DISCARDABLE "res/convert.fx"
IDR_INTERLACE_FX RCDATA DISCARDABLE "res/interlace.fx"
IDR_MERGE_FX RCDATA DISCARDABLE "res/merge.fx"
IDR_FXAA_FX RCDATA DISCARDABLE "res/fxaa.fx"
IDR_CS_FX RCDATA DISCARDABLE "res/cs.fx"
IDR_SHADEBOOST_FX RCDATA DISCARDABLE "res/shadeboost.fx"
IDR_TFX_CL RCDATA DISCARDABLE "res/tfx.cl"
IDB_LOGO9 BITMAP DISCARDABLE "res/logo9.bmp"
IDB_LOGO10 BITMAP DISCARDABLE "res/logo10.bmp"

IDD_HACKS DIALOGEX -2,-13,418,259
CAPTION "Hacks Configuration"
FONT 8,"MS Shell Dlg",400,0,1
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_MODALFRAME|DS_SHELLFONT
BEGIN
  CONTROL "OK",IDOK,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON,267,240,50,14
  CONTROL "Hack",IDC_STATIC,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,12,6,170,138,WS_EX_TRANSPARENT
  CONTROL "Description",IDC_STATIC,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,186,9,224,225
  CONTROL "MSAA",IDC_STATIC_MSAA,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,14,20,25,8
  CONTROL "Skipdraw:",IDC_STATIC_SKIPDRAW,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,14,37,35,8
  CONTROL "",IDC_SKIPDRAWHACKEDIT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,51,36,27,14,WS_EX_CLIENTEDGE
  CONTROL "",IDC_SKIPDRAWHACK,"msctls_updown32",WS_VISIBLE|UDS_ARROWKEYS|UDS_AUTOBUDDY|UDS_SETBUDDYINT,78,36,10,14
  CONTROL "Alpha",IDC_ALPHAHACK,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,87,83,44,10
  CONTROL "Half-pixel Offset",IDC_OFFSETHACK,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,87,70,70,10
  CONTROL "Sprite",IDC_SPRITEHACK,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTO3STATE,14,56,65,10
  CONTROL "USE AT YOUR OWN RISK",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_DISABLED|WS_GROUP,15,240,150,8
  CONTROL "",IDC_MSAACB,"ComboBox",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|CBS_DROPDOWNLIST,39,19,44,63
  CONTROL "WildArmsOffset",IDC_WILDHACK,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTO3STATE,14,70,64,10
  CONTROL "Skipbadprocessing",IDC_SKIPPOSTPROCESSING,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,87,56,80,10
  CONTROL "",IDC_skiptexEDIT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_NUMBER|ES_AUTOHSCROLL,134,160,32,12,WS_EX_CLIENTEDGE
  CONTROL "",IDC_skiptex,"msctls_updown32",WS_VISIBLE|UDS_NOTHOUSANDS|UDS_ARROWKEYS|UDS_AUTOBUDDY|UDS_ALIGNRIGHT|UDS_SETBUDDYINT,161,160,15,15
  CONTROL "Skiptex:",IDC_STATIC_TEXT_skiptex,"Static",WS_CHILD|WS_VISIBLE,97,161,36,12
  CONTROL "Skipiso",IDC_SKIPISO,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTO3STATE,14,161,52,10
  CONTROL "TEXT_GOES_HERE",IDC_HACK_DESCRIPTION,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,194,30,209,145
  CONTROL "Aggressive-CRC",IDC_AGGRESSIVECRC,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,14,83,66,10
  CONTROL "Round Sprite",IDC_ROUND_SPRITE,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTO3STATE,87,111,66,10
  CONTROL "Align Sprite",IDC_ALIGN_SPRITE,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,87,124,66,10
  CONTROL "Alpha Stencil",IDC_ALPHASTENCIL,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,14,97,66,10
  CONTROL "Disable CRCs",IDC_CHECK_DISABLE_ALL_HACKS,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,87,97,58,10
  CONTROL "TC Offset X",IDC_STATIC_TCOFFSETX,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,92,20,37,8
  CONTROL "",IDC_TCOFFSETX2,"Edit",WS_VISIBLE|ES_AUTOHSCROLL|ES_RIGHT,131,19,35,14
  CONTROL "",IDC_TCOFFSETX,"msctls_updown32",WS_VISIBLE|UDS_NOTHOUSANDS|UDS_ARROWKEYS|UDS_AUTOBUDDY|UDS_ALIGNRIGHT|UDS_SETBUDDYINT,165,19,11,14
  CONTROL "",IDC_TCOFFSETY2,"Edit",WS_VISIBLE|ES_AUTOHSCROLL|ES_RIGHT,131,36,35,14
  CONTROL "",IDC_TCOFFSETY,"msctls_updown32",WS_VISIBLE|UDS_NOTHOUSANDS|UDS_ARROWKEYS|UDS_AUTOBUDDY|UDS_ALIGNRIGHT|UDS_SETBUDDYINT,164,36,11,14
  CONTROL "TC Offset Y",IDC_STATIC_TCOFFSETY,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,92,37,37,8
  CONTROL "NVIDIA Hack",IDC_CHECK_NVIDIA_HACK,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,14,111,68,10
  CONTROL "PRIMCLASS:",IDC_CHECK_SKIPISO_PRIMCLASS,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,14,174,50,16
  CONTROL "",IDC_SKIPISO_PRIMCLASSEDIT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_NUMBER|ES_AUTOHSCROLL|ES_RIGHT,64,175,28,15,WS_EX_CLIENTEDGE
  CONTROL "",IDC_SKIPISO_PRIMCLASS,"msctls_updown32",WS_VISIBLE|UDS_NOTHOUSANDS|UDS_ARROWKEYS|UDS_AUTOBUDDY|UDS_ALIGNRIGHT|UDS_SETBUDDYINT,79,174,15,15
  CONTROL "FBMSK:",IDC_CHECK_SKIPISO_FBMSK,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,14,192,52,14
  CONTROL "",IDC_SKIPISO_FBMSKEDIT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_NUMBER|ES_AUTOHSCROLL|ES_RIGHT,64,193,28,15,WS_EX_CLIENTEDGE
  CONTROL "",IDC_SKIPISO_FBMSK,"msctls_updown32",WS_VISIBLE|UDS_NOTHOUSANDS|UDS_ARROWKEYS|UDS_AUTOBUDDY|UDS_ALIGNRIGHT|UDS_SETBUDDYINT,80,191,15,15
  CONTROL "PSM:",IDC_CHECK_SKIPISO_PSM,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,14,210,52,14
  CONTROL "",IDC_SKIPISO_PSMEDIT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_NUMBER|ES_AUTOHSCROLL|ES_RIGHT,64,213,28,15,WS_EX_CLIENTEDGE
  CONTROL "",IDC_SKIPISO_PSM,"msctls_updown32",WS_VISIBLE|UDS_NOTHOUSANDS|UDS_ARROWKEYS|UDS_AUTOBUDDY|UDS_ALIGNRIGHT|UDS_SETBUDDYINT,79,212,15,15
  CONTROL "Enable Skiptex hotkey",IDC_SKIPTEXHOTKEY,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,96,177,83,10
  CONTROL "Enable PSM hotkey",IDC_PSMHOTKEY,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,96,195,83,10
  CONTROL "No alpha test",IDC_NOALPHATEST,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTO3STATE,95,210,65,15
  CONTROL "Advanced hack",IDC_GRP1,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,12,147,170,87
  CONTROL "SkipDrawDepth",IDC_AUTOSKIPDRAWDEPTH,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,14,125,68,10
END

IDD_SHADEBOOST DIALOGEX 0,0,316,129
CAPTION "Shade Boost Settings"
FONT 8,"MS Shell Dlg",400,0,1
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_MODALFRAME|DS_SHELLFONT
BEGIN
  CONTROL "OK",IDOK,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON,259,108,50,14
  CONTROL "Reset",IDRESET,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,7,108,50,14
  CONTROL "Color Adjustments",IDC_STATIC,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,7,7,302,95
  CONTROL "Saturation",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,15,25,34,8
  CONTROL "",IDC_SATURATION_SLIDER,"msctls_trackbar32",WS_VISIBLE|WS_TABSTOP|TBS_NOTICKS|TBS_BOTH,55,23,236,15
  CONTROL "Brightness",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,15,50,34,8
  CONTROL "",IDC_BRIGHTNESS_SLIDER,"msctls_trackbar32",WS_VISIBLE|WS_TABSTOP|TBS_NOTICKS|TBS_BOTH,55,48,236,15
  CONTROL "Contrast",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,15,75,29,8
  CONTROL "",IDC_CONTRAST_SLIDER,"msctls_trackbar32",WS_VISIBLE|WS_TABSTOP|TBS_NOTICKS|TBS_BOTH,55,72,236,15
  CONTROL "150",IDC_SATURATION_TEXT,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP|SS_RIGHT,288,25,15,8
  CONTROL "150",IDC_BRIGHTNESS_TEXT,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP|SS_RIGHT,288,50,15,8
  CONTROL "150",IDC_CONTRAST_TEXT,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP|SS_RIGHT,288,75,15,8
END

IDD_CONFIG DIALOGEX -2,-13,376,241
CAPTION "Settings..."
FONT 8,"MS Shell Dlg",400,0,1
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_MODALFRAME|DS_SHELLFONT
BEGIN
  CONTROL 2022,IDC_LOGO11,"Static",WS_VISIBLE|SS_BITMAP,7,7,175,42
  CONTROL 2021,IDC_LOGO9,"Static",WS_VISIBLE|SS_BITMAP,7,7,175,44
  CONTROL "Resolution:",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,7,73,37,8
  CONTROL "",IDC_RESOLUTION,"ComboBox",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|CBS_DROPDOWNLIST,71,71,72,125
  CONTROL "Renderer:",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,7,88,34,8
  CONTROL "",IDC_RENDERER,"ComboBox",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|CBS_DROPDOWNLIST,71,86,111,118
  CONTROL "Interlacing (F5):",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,7,103,53,8
  CONTROL "",IDC_INTERLACE,"ComboBox",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|CBS_DROPDOWNLIST,71,101,111,98
  CONTROL "Aspect Ratio (F6):",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,7,118,60,8
  CONTROL "",IDC_ASPECTRATIO,"ComboBox",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|CBS_DROPDOWNLIST,71,116,111,98
  CONTROL "OK",IDOK,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON,228,216,50,14
  CONTROL "Cancel",IDCANCEL,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,280,216,50,14
  CONTROL "Window",IDC_WINDOWED,"Button",WS_VISIBLE|WS_TABSTOP|BS_RIGHTBUTTON|BS_AUTOCHECKBOX,146,73,36,10
  CONTROL "D3D internal res:",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,18,144,60,8
  CONTROL "",IDC_RESX_EDIT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_NUMBER|ES_AUTOHSCROLL,82,140,35,13,WS_EX_CLIENTEDGE
  CONTROL "",IDC_RESX,"msctls_updown32",WS_VISIBLE|UDS_NOTHOUSANDS|UDS_ARROWKEYS|UDS_AUTOBUDDY|UDS_ALIGNRIGHT|UDS_SETBUDDYINT,110,139,11,14
  CONTROL "",IDC_RESY_EDIT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_NUMBER|ES_AUTOHSCROLL,120,140,35,13,WS_EX_CLIENTEDGE
  CONTROL "",IDC_RESY,"msctls_updown32",WS_VISIBLE|UDS_NOTHOUSANDS|UDS_ARROWKEYS|UDS_AUTOBUDDY|UDS_ALIGNRIGHT|UDS_SETBUDDYINT,146,139,11,14
  CONTROL "",IDC_SCALEX_EDIT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_NUMBER|ES_AUTOHSCROLL,81,201,35,13,WS_EX_CLIENTEDGE
  CONTROL "",IDC_SCALEX,"msctls_updown32",WS_VISIBLE|UDS_NOTHOUSANDS|UDS_ARROWKEYS|UDS_AUTOBUDDY|UDS_ALIGNRIGHT|UDS_SETBUDDYINT,110,199,11,14
  CONTROL "",IDC_SCALEY_EDIT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_NUMBER|ES_AUTOHSCROLL,120,201,35,13,WS_EX_CLIENTEDGE
  CONTROL "",IDC_SCALEY,"msctls_updown32",WS_VISIBLE|UDS_NOTHOUSANDS|UDS_ARROWKEYS|UDS_AUTOBUDDY|UDS_ALIGNRIGHT|UDS_SETBUDDYINT,146,199,11,14
  CONTROL "",IDC_HDMODE,"ComboBox",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|CBS_DROPDOWNLIST,81,183,75,10
  CONTROL "HDfix:",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,27,186,42,10
  CONTROL "Custom HD",IDC_CUSTOMHDREV,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,25,201,45,10
  CONTROL "Native",IDC_NATIVERES,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,123,173,33,10
  CONTROL "",IDC_UPSCALE_MULTIPLIER,"ComboBox",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|CBS_DROPDOWNLIST,82,155,74,98
  CONTROL "Or use Scaling:",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,18,159,60,8
  CONTROL "Or use original PS2 resolution :",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,18,173,99,8
  CONTROL "D3D Enhancements (can cause glitches)",IDC_STATIC,"Button",WS_CHILD|WS_VISIBLE|BS_CENTER|BS_GROUPBOX,6,132,176,103
  CONTROL "Extra rendering threads:",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,195,171,80,8
  CONTROL "",IDC_SWTHREADS_EDIT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_NUMBER|ES_AUTOHSCROLL,277,170,35,13,WS_EX_CLIENTEDGE
  CONTROL "",IDC_SWTHREADS,"msctls_updown32",WS_VISIBLE|UDS_NOTHOUSANDS|UDS_ARROWKEYS|UDS_AUTOBUDDY|UDS_ALIGNRIGHT|UDS_SETBUDDYINT,308,169,11,14
  CONTROL "Texture filtering",IDC_FILTER,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTO3STATE,195,109,67,10
  CONTROL "Logarithmic Z",IDC_LOGZ,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,274,110,58,10
  CONTROL "Allow 8-bit textures",IDC_PALTEX,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,195,125,78,10
  CONTROL "Alpha correction (FBA)",IDC_FBA,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,273,125,85,10
  CONTROL "Edge anti-aliasing (AA1)",IDC_AA1,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,195,186,93,10
  CONTROL "Enable Shade Boost",IDC_SHADEBOOST,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,195,19,79,10
  CONTROL "Settings...",IDC_SHADEBUTTON,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,275,16,87,14
  CONTROL "Software Mode Settings",IDC_STATIC,"Button",WS_CHILD|WS_VISIBLE|BS_CENTER|BS_GROUPBOX,191,159,175,42
  CONTROL "Hardware Mode Settings",IDC_STATIC,"Button",WS_CHILD|WS_VISIBLE|BS_CENTER|BS_GROUPBOX,191,95,175,61
  CONTROL "Enable HW Hacks",IDC_HACKS_ENABLED,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,195,141,71,10
  CONTROL "Configure...",IDC_HACKSBUTTON,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,272,138,87,14
  CONTROL "Adapter:",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,7,58,30,8
  CONTROL "",IDC_ADAPTER,"ComboBox",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|CBS_DROPDOWNLIST,71,56,111,125
  CONTROL "Cutie color engine",IDC_STATIC,"Button",WS_CHILD|WS_VISIBLE|BS_CENTER|BS_GROUPBOX,192,45,175,46
  CONTROL "",IDC_COMBO_DISPLAY_MODE,"ComboBox",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|CBS_SORT|CBS_DROPDOWNLIST,246,72,47,30
  CONTROL "Display Mode:",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,196,76,45,8
  CONTROL "Brightness:",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,196,59,40,8
  CONTROL "",IDC_EDIT_BRGHT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,234,57,24,12,WS_EX_CLIENTEDGE
  CONTROL "Saturation:",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,285,59,40,8
  CONTROL "",IDC_EDIT_SATURATION,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,329,57,24,12,WS_EX_CLIENTEDGE
  CONTROL "Internal filters",IDC_CHECK_INTERNAL_FILTER,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,297,76,58,10
  CONTROL "",IDC_ADAPTER,"ComboBox",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|CBS_DROPDOWNLIST,71,56,111,125
  CONTROL "Enable FXAA",IDC_FXAA,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,195,5,80,10
  CONTROL "Enable FX shader",IDC_SHADER_FX,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,275,5,80,10
  CONTROL "Enable Custom shader",IDC_CUSTOMSHADER,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,195,33,82,10
END

IDD_CAPTURE DIALOGEX 0,0,279,71
CAPTION "Capture settings"
FONT 8,"MS Shell Dlg",400,0,1
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_MODALFRAME|DS_SHELLFONT
BEGIN
  CONTROL "",IDC_FILENAME,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,7,7,207,14,WS_EX_CLIENTEDGE
  CONTROL "Browse...",IDC_BROWSE,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,222,7,50,14
  CONTROL "",IDC_CODECS,"ComboBox",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|CBS_DROPDOWNLIST,7,27,207,122
  CONTROL "Config...",IDC_CONFIGURE,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,222,26,50,14
  CONTROL "Size:",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,6,50,21,8
  CONTROL "",IDC_WIDTH,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_NUMBER|ES_AUTOHSCROLL|ES_RIGHT,30,47,31,14,WS_EX_CLIENTEDGE
  CONTROL "",IDC_HEIGHT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_NUMBER|ES_AUTOHSCROLL|ES_RIGHT,64,47,31,14,WS_EX_CLIENTEDGE
  CONTROL "Cancel",IDCANCEL,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,169,47,50,14
  CONTROL "OK",IDOK,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON,221,47,50,14
  CONTROL "",IDC_COLORSPACE,"ComboBox",WS_CHILD|WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST,102,47,48,32
END

IDD_GPUCONFIG DIALOGEX -2,-13,208,235
CAPTION "Settings..."
FONT 8,"MS Shell Dlg",400,0,1
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_MODALFRAME|DS_SHELLFONT
BEGIN
  CONTROL 2021,IDC_LOGO9,"Static",WS_VISIBLE|SS_BITMAP,7,7,175,44
  CONTROL "Resolution:",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,7,59,37,8
  CONTROL "",IDC_RESOLUTION,"ComboBox",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|CBS_DROPDOWNLIST,80,57,102,125
  CONTROL "Renderer:",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,7,74,34,8
  CONTROL "",IDC_RENDERER,"ComboBox",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|CBS_DROPDOWNLIST,80,72,102,118
  CONTROL "Texture Filter (Del):",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,7,90,64,8
  CONTROL "",IDC_FILTER,"ComboBox",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|CBS_DROPDOWNLIST,80,87,102,98
  CONTROL "Dithering (End):",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,7,105,52,8
  CONTROL "",IDC_DITHERING,"ComboBox",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|CBS_DROPDOWNLIST,80,102,102,98
  CONTROL "Aspect Ratio (PgDn):",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,7,120,68,8
  CONTROL "",IDC_ASPECTRATIO,"ComboBox",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|CBS_DROPDOWNLIST,80,117,102,98
  CONTROL "Extra Rend. Threads:",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,7,157,70,8
  CONTROL "",IDC_SWTHREADS_EDIT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_NUMBER|ES_AUTOHSCROLL,80,155,35,13,WS_EX_CLIENTEDGE
  CONTROL "",IDC_SWTHREADS,"msctls_updown32",WS_VISIBLE|UDS_NOTHOUSANDS|UDS_ARROWKEYS|UDS_AUTOBUDDY|UDS_ALIGNRIGHT|UDS_SETBUDDYINT,108,156,11,14
  CONTROL "OK",IDOK,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON,44,216,50,14
  CONTROL "Cancel",IDCANCEL,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,97,216,50,14
  CONTROL 2022,IDC_LOGO11,"Static",WS_VISIBLE|SS_BITMAP,7,7,173,42
  CONTROL "Internal Resolution:",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,7,135,64,8
  CONTROL "",IDC_SCALE,"ComboBox",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|CBS_DROPDOWNLIST,80,132,102,98
  CONTROL "Windowed",IDC_WINDOWED,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,129,157,49,10
  CONTROL "Enable Shade Boost",IDC_SHADEBOOST,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,7,174,80,10
  CONTROL "Setting...",IDC_SHADEBUTTON,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,109,171,87,14
  CONTROL "Enable FXAA (PgUp)",IDC_FXAA,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,7,186,82,14
  CONTROL "Enable FX shader (Home)",IDC_SHADER_FX,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,111,186,92,14
  CONTROL "Enable Custom shader(Back)",IDC_CUSTOMSHADER,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,7,200,102,14
  CONTROL "Enable VSYNC",IDC_VSYNC,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,111,200,85,14
END

IDD_CONFIG2 DIALOGEX -2,-13,373,244
CAPTION "Settings..."
FONT 8,"MS Shell Dlg",400,0,1
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_MODALFRAME|DS_SHELLFONT
BEGIN
  CONTROL 2022,IDC_LOGO11,"Static",WS_VISIBLE|SS_BITMAP,6,6,173,42
  CONTROL "OK",IDOK,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON,219,226,50,14
  CONTROL "Renderer:",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,6,72,34,8
  CONTROL "",IDC_RENDERER,"ComboBox",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|CBS_DROPDOWNLIST,70,70,111,118
  CONTROL "Interlacing (F5):",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,6,87,53,8
  CONTROL "",IDC_INTERLACE,"ComboBox",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|CBS_DROPDOWNLIST,70,85,111,98
  CONTROL "Custom Resolution:",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,10,163,65,8
  CONTROL "",IDC_RESX_EDIT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_NUMBER|ES_AUTOHSCROLL,92,161,35,13,WS_EX_CLIENTEDGE
  CONTROL "",IDC_RESX,"msctls_updown32",WS_VISIBLE|UDS_NOTHOUSANDS|UDS_ARROWKEYS|UDS_AUTOBUDDY|UDS_ALIGNRIGHT|UDS_SETBUDDYINT,120,161,11,14
  CONTROL "",IDC_RESY_EDIT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_NUMBER|ES_AUTOHSCROLL,130,161,35,13,WS_EX_CLIENTEDGE
  CONTROL "",IDC_RESY,"msctls_updown32",WS_VISIBLE|UDS_NOTHOUSANDS|UDS_ARROWKEYS|UDS_AUTOBUDDY|UDS_ALIGNRIGHT|UDS_SETBUDDYINT,154,161,11,14
  CONTROL "",IDC_SCALEX_EDIT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_NUMBER|ES_AUTOHSCROLL,92,192,35,13,WS_EX_CLIENTEDGE
  CONTROL "",IDC_SCALEX,"msctls_updown32",WS_VISIBLE|UDS_NOTHOUSANDS|UDS_ARROWKEYS|UDS_AUTOBUDDY|UDS_ALIGNRIGHT|UDS_SETBUDDYINT,120,192,11,14
  CONTROL "",IDC_SCALEY_EDIT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_NUMBER|ES_AUTOHSCROLL,131,192,35,13,WS_EX_CLIENTEDGE
  CONTROL "",IDC_SCALEY,"msctls_updown32",WS_VISIBLE|UDS_NOTHOUSANDS|UDS_ARROWKEYS|UDS_AUTOBUDDY|UDS_ALIGNRIGHT|UDS_SETBUDDYINT,154,192,11,14
  CONTROL "",IDC_HDMODE,"ComboBox",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|CBS_DROPDOWNLIST,93,176,71,10
  CONTROL "HDfix:",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,10,179,40,10
  CONTROL "Custom HD",IDC_CUSTOMHDREV,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,10,195,45,10
  CONTROL "Native",IDC_NATIVERES,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,92,134,33,10
  CONTROL "Extra rendering threads:",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,195,189,80,8
  CONTROL "",IDC_SWTHREADS_EDIT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_NUMBER|ES_AUTOHSCROLL,278,187,35,13,WS_EX_CLIENTEDGE
  CONTROL "",IDC_SWTHREADS,"msctls_updown32",WS_VISIBLE|UDS_NOTHOUSANDS|UDS_ARROWKEYS|UDS_AUTOBUDDY|UDS_ALIGNRIGHT|UDS_SETBUDDYINT,313,186,11,14
  CONTROL "",IDC_UPSCALE_MULTIPLIER,"ComboBox",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|CBS_DROPDOWNLIST,92,146,74,98
  CONTROL "Or use Scaling:",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,9,148,60,8
  CONTROL "Original PS2 Resolution:",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,10,134,80,8
  CONTROL "Edge Anti-aliasing (AA1)",IDC_AA1,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,194,205,93,10
  CONTROL "Cancel",IDCANCEL,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,273,226,50,14
  CONTROL 2021,IDC_LOGO9,"Static",WS_VISIBLE|SS_BITMAP,6,6,175,44
  CONTROL "D3D Internal Resolution (can cause glitches)",IDC_STATIC,"Button",WS_CHILD|WS_VISIBLE|BS_CENTER|BS_GROUPBOX,3,123,176,101
  CONTROL "Software Mode Settings",IDC_STATIC,"Button",WS_CHILD|WS_VISIBLE|BS_CENTER|BS_GROUPBOX,190,173,175,50
  CONTROL "Hardware Mode Settings",IDC_STATIC,"Button",WS_CHILD|WS_VISIBLE|BS_CENTER|BS_GROUPBOX,191,99,175,72
  CONTROL "Logarithmic Z",IDC_LOGZ,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,280,112,58,10
  CONTROL "Alpha Correction (FBA)",IDC_FBA,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,280,138,84,10
  CONTROL "Allow 8-Bit Textures",IDC_PALTEX,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,198,138,82,10
  CONTROL "Texture Filtering",IDC_FILTER,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTO3STATE,198,112,67,10
  CONTROL "Enable Shade Boost",IDC_SHADEBOOST,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,194,6,79,10
  CONTROL "Settings...",IDC_SHADEBUTTON,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,279,3,75,14
  CONTROL "Enable HW Hacks",IDC_HACKS_ENABLED,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,198,153,71,10
  CONTROL "Configure...",IDC_HACKSBUTTON,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,279,150,75,14
  CONTROL "Adapter:",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,6,57,30,8
  CONTROL "",IDC_ADAPTER,"ComboBox",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|CBS_DROPDOWNLIST,70,55,111,118
  CONTROL "Cutie color engine",IDC_STATIC,"Button",WS_CHILD|WS_VISIBLE|BS_CENTER|BS_GROUPBOX,192,48,175,46
  CONTROL "",IDC_COMBO_DISPLAY_MODE,"ComboBox",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|CBS_DROPDOWNLIST,245,75,49,30
  CONTROL "Display Mode:",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,197,78,46,8
  CONTROL "Brightness:",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,200,60,40,8
  CONTROL "",IDC_EDIT_BRGHT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,237,59,25,12,WS_EX_CLIENTEDGE
  CONTROL "Saturation:",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,279,60,40,8
  CONTROL "",IDC_EDIT_SATURATION,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,325,59,25,12,WS_EX_CLIENTEDGE
  CONTROL "Internal filters",IDC_CHECK_INTERNAL_FILTER,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,300,78,58,10
  CONTROL "Enable FXAA",IDC_FXAA,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,194,21,80,10
  CONTROL "Enable FX Shader",IDC_SHADER_FX,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,276,21,80,10
  CONTROL "Enable Custom shader",IDC_CUSTOMSHADER,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,194,35,82,10
  CONTROL "Anisotropic Filtering",IDC_ANISOTROPIC,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,198,126,77,8
  CONTROL "",IDC_AFCOMBO,"ComboBox",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|CBS_DROPDOWNLIST,280,123,35,30
  CONTROL "OpenCL Device:",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,6,101,52,8
  CONTROL "",IDC_OPENCL_DEVICE,"ComboBox",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|CBS_DROPDOWNLIST,70,99,111,118
END

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,1,9
PRODUCTVERSION 1,0,1,9
FILEOS 0x00000004
FILETYPE 0x00000002
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "Comments", "http://guliverkli.sf.net/\0"
      VALUE "CompanyName", "Gabest\0"
      VALUE "FileDescription", "GS plugin for ps2 emulators\0"
      VALUE "FileVersion", "1, 0, 1, 9\0"
      VALUE "InternalName", "GSdx.dll\0"
      VALUE "LegalCopyright", "Copyright (c) 2007-2008 Gabest.  All rights reserved.\0"
      VALUE "OriginalFilename", "GSdx.dll\0"
      VALUE "ProductName", "GSdx\0"
      VALUE "ProductVersion", "1, 0, 1, 9\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04E4
  END
END

